@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.newsreader-300 {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@theme {
    --font-dm-serif: "DM Serif Text", sans-serif;
    --font-newsreader: "Newsreader", serif;
}

@layer components {
    h1 {
        font-family: var(--font-dm-serif);
    }

    h3 {
        text-align: center;
        font-size: var(--text-xl);
        font-weight: var(--font-semibold);
        padding-top: calc(var(--spacing) * 6);
        padding-bottom: calc(var(--spacing) * 4);
        font-family: var(--font-dm-serif);
    }

    p {
        font-family: var(--font-newsreader);
    }
}